*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background:  #292929;

} 

header{
    background: #03A9F4;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
.navbar{
    width: 100%;
    margin: 0 auto;

}
img {
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 150px;
  

}
nav{
   float: right; 
}
nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
    margin-right: 200px;
    margin-top: 50px;
    
}
nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 2.1rem;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background:#444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 1s;
}
nav ul li a:hover::before{
    width: 100%;
}

.Noticias{
    padding-top: 3%;
    margin-top: 0;
    width: auto;
    height: 150px;
    background-color:rgb(173, 29, 166);
    
}   
.Tittle{
    padding-bottom: 0%;
    color:aliceblue;
    font-size: 3.9rem;
    text-align: center;
}

.Donaciones{
    display: inline-block;
    width: 20%;
    margin-top: 5%;
    width: 550px;
    height: auto;
    margin-left: 3%; 
    background:seagreen;

}
.Donaciones .title-donaciones{
    
    
    color:antiquewhite;
    text-align: center;
    font-size: 3.0rem;
}
.Donaciones .img-donaciones{
    padding-top: 30px;
    width: 50%;
    height: auto;
    padding-bottom: 50px;
    margin-right: 90px;
    
}

.Donaciones .par-donaciones{
    color:aliceblue;
    font-size: 1.3rem;
    text-decoration: dashed;
    justify-content: right;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;

}


.VOLUNTARIADOS{
    display: inline-block;
    width: 20%;
    margin-top: 5%;
    width: 550px;
    height: auto;
    margin-left: 3%; 
    background:seagreen;

}
.VOLUNTARIADOS .title-voluntariados{
    width: 100%;
    color:antiquewhite;
    text-align: center;
    font-size: 3.0rem;

}
.VOLUNTARIADOS .img-voluntariados{
    
    padding-top: 30px;
    width: 51%;
    height: auto;
    padding-bottom: 50px;
    margin-right: 90px;

}

.VOLUNTARIADOS .par-voluntariados{
    color:aliceblue;
    font-size: 1.3rem;
    text-decoration: dashed;
    justify-content: right;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
}

.COMVIVENCIAS{
    display: inline-block;
    width: 20%;
    margin-top: 5%;
    width: 550px;
    height: auto;
    margin-left: 3%; 
    background:seagreen;


}
.COMVIVENCIAS .title-Convivencias{
    color:antiquewhite;
    text-align: center;
    font-size: 3.0rem;
}
.COMVIVENCIAS .img-convivencias{
    padding-top: 30px;
    width: 60%;
    height: auto;
    padding-bottom: 50px;
    margin-right: 90px;
}
.COMVIVENCIAS .par-convivencias{
    color:aliceblue;
    font-size: 1.3rem;
    text-decoration: dashed;
    justify-content: right;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}